.container {
  width: 95vw;
  max-width: 1150px;
  margin: 0;
  display: flex;
}

.leftContainer {
  width: 50%;
  height: 100%;
  margin-right: 25px;
}

.title {
  font-family: "VisbyRoundCF";
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
}

.rightContainer {
  width: 50%;
  margin-left: 25px;
}

.blockButtonContainer {
  display: none;
  width: 200px;
  height: 30px;
  margin: 0 auto;
}

.flexButtonContainer {
  width: 200px;
  height: 30px;
}

@media only screen and (max-width: 750px) {
  .container {
    display: block;
    text-align: center;
  }

  .leftContainer {
    width: 100%;
    height: calc(50% - 25px);
    margin-right: 0;
  }

  .title {
    font-family: "VisbyRoundCF";
    font-weight: 500;
    color: black;
  }

  .rightContainer {
    width: 80%;
    margin: 25px auto;
  }

  .flexButtonContainer {
    display: none;
  }

  .blockButtonContainer {
    display: block;
  }
}
