.span {
  font-weight: 400;
  margin-top: 3px;
}

.accountBtnContainer {
  display: flex;
  min-width: 135px;
  cursor: pointer;
  padding-right: 10px;
}

@media only screen and (max-width: 750px) {
  .accountBtnContainer {
    justify-content: flex-end;
  }
}

.logoContainer {
  margin-left: 10px;
  width: 25px;
  height: auto;
}

.accountLogo {
  margin-top: 4px;
  width: 18px;
}

.dropDownBox {
  display: block;
  position: absolute;
  width: 125px;
  height: auto;
  border: #d8d8d8 1px solid;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-top: 50px;
  background-color: white;
  text-align: left;
  transition: 0.5s;
}

@media only screen and (max-width: 750px) {
  .dropDownBox {
    width: 129px;
    margin-top: 31px;
    margin-right: 4px;
  }
}

.dropDownText {
  color: #282cdd;
  font-weight: 400;
  cursor: pointer;
  margin: 10px 0;
  padding-left: 10px;
}

.lineBreak {
  width: calc(100% - 20px);
  height: 1px;
  margin: 0 auto;
  background-color: #282cdd;
}
