.upperContainer {
  width: 100%;
  height: 80vh;
  min-height: 500px;
  display: flex;
}

@media only screen and (max-width: 1500px) {
  .upperContainer {
    height: 70vh;
  }
}

@media only screen and (max-width: 1200px) {
  .upperContainer {
    height: 60vh;
  }
}

@media only screen and (max-width: 1000px) {
  .upperContainer {
    height: 45vh;
  }
}

@media only screen and (max-width: 750px) {
  .upperContainer {
    display: block;
    height: auto;
  }
}

.imgContainer {
  min-width: calc(100% - 350px);
  max-width: 70%;
  height: 100%;
}

.imgContainerMobile {
  display: none;
}

@media only screen and (max-width: 750px) {
  .imgContainer {
    display: none;
  }

  .imgContainerMobile {
    display: block;
    width: 100vw;
    height: 500px;
  }
}

.rightContainer {
  width: 30%;
  min-width: 350px;
  height: calc(100% - 50px);
}

@media only screen and (max-width: 750px) {
  .rightContainer {
    width: 100vw;
    min-width: 100%;
    height: auto;
  }
}

.titleBox {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #282cdd;
}

.titleBox h1 {
  color: white;
  font-family: VisbyRoundCF;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  margin: 20px 10px;
}

.titleBox p {
  color: white;
  font-family: VisbyRoundCF;
  font-size: 0.9rem;
  font-weight: 300;
  text-align: center;
  margin: 0 10px 20px 10px;
}

.upperReviewStarsContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.btnsBox {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.authorDateFlexContainer {
  display: flex;
  margin: 0 20px 0 20px;
}

@media only screen and (max-width: 750px) {
  .authorDateFlexContainer {
    margin: 20px 20px 30px 20px;
  }
}

.authorDateFlexContainer div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #282cdd;
}

.authorDateFlexContainer div span {
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 7px;
  font-size: 1.3rem;
}

.authorText {
  font-weight: 500;
  color: #282cdd;
}

.authorDateFlexContainer p {
  text-align: center;
  margin: 0;
  padding: 0;
  width: calc(100% - 40px);
  vertical-align: middle;
}

.upperBtnsContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

@media only screen and (max-width: 750px) {
  .upperBtnsContainer {
    display: flex;
    margin-bottom: 20px;
  }
}

.svgContainer {
  width: auto;
}

.svgContainer div {
  margin-top: 5px;
  text-align: center;
  color: #282cdd;
}

.btnSVG {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

.reviewsContentContainer {
  min-width: 100%;
  max-width: 1150px;
  display: flex;
}

@media only screen and (max-width: 750px) {
  .reviewsContentContainer {
    width: auto;
    display: block;
  }
}

.reviewsFrameContainer {
  min-width: 320px;
  max-width: 320px;
  padding: 0 10px;
}

@media only screen and (max-width: 750px) {
  .reviewsFrameContainer {
    min-width: 300px;
    max-width: none;
  }
}

.contentContainer {
  min-height: 500px;
  padding: 0 20px;
}

.contentContainer p {
  margin-bottom: 30px;
}

.contentContainer p strong {
  font-size: 1.5rem;
  font-weight: 500;
  color: #282cdd;
}

.mapContainer {
  width: 100%;
  height: 350px;
  margin-top: 50px;
}

.nearbyWalksContainer {
  margin: 50px 0;
}

.walksFrameContainer {
  margin-top: 25px;
}

.nearbyWalksBtnContainer {
  width: 150px;
  height: 30px;
  text-align: center;
  margin: 25px auto 0 auto;
}
