.navHeader {
  width: 100vw;
  max-width: 100%;
  height: 20px;
  background-color: #282cdd;
  margin: 0;
  padding: 0;
  z-index: 20;
}

.orderedList {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.listItem {
  list-style: none;
  padding: 0 20px;
}

.anchor {
  color: white;
  text-decoration: none;
  font-family: VisbyRoundCF;
  font-weight: 500;
  font-size: 0.95rem;
}

.mobileNavHeader {
  display: none;
  width: 95vw;
  justify-content: space-between;
  margin: 0 auto;
}

.mobileNavHeadInnerContainer {
  display: flex;
}

.menuBtn {
  width: 25px;
  height: 25px;
  margin: 5px 0 0 0;
  cursor: pointer;
}

.logo {
  margin-left: 5px;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}

.accountBtnContainer {
  margin: 4px 0 0 0;
}

@media only screen and (max-width: 750px) {
  .navHeader {
    height: 35px;
    position: absolute;
    z-index: 200;
    height: 200px;
    transform: translateY(-165px);
  }

  .orderedList {
    display: none;
  }

  .mobileNavHeader {
    display: flex;
    bottom: 0;
    position: absolute;
    margin: 0 2.5vw;
  }
}

.mobileLinksListContainer {
  height: 160px;
  margin: 0;
  padding: 0;
  width: 95vw;
  list-style: none;
  color: white;
  font-weight: 500;
  font-family: VisbyRoundCF;
  margin: 0 auto;
}

.mobileLinksListContainer li {
  border-bottom: 1px white solid;
  padding: 9px 0;
}

.mobileLinksListContainer li:last-child {
  border: none;
}

.mobileLinksListContainer li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

@media only screen and (min-width: 750px) {
  .mobileLinksListContainer {
    display: none;
  }
}

.hamburger {
  padding-top: 5px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  user-select: none;
}

.hamburger.isActive .hamburgerInner,
.hamburger.isActive .hamburgerInner::before,
.hamburger.isActive .hamburgerInner::after {
  background-color: white;
}

.hamburgerBox {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburgerInner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburgerInner,
.hamburgerInner::before,
.hamburgerInner::after {
  width: 40px;
  height: 4px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburgerInner::before,
.hamburgerInner::after {
  content: "";
  display: block;
}
.hamburgerInner::before {
  top: -10px;
}
.hamburgerInner::after {
  bottom: -10px;
}

.hamburgerCollapse .hamburgerInner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburgerCollapse .hamburgerInner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburgerCollapse .hamburgerInner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburgerCollapse.isActive .hamburgerInner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburgerCollapse.isActive .hamburgerInner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}
.hamburgerCollapse.isActive .hamburgerInner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
