.container {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.arrowContainerLeft {
  transform: scaleX(-1);
  margin-right: 5px;
}

.arrowContainerRight {
  margin-left: 5px;
}

.text {
  font-weight: 500;
  color: #282cdd;
  margin-top: 2px;
}
